body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: sans-serif;
    background: url("./bg_pic.jpg");
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2rem;
    text-align: center;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
}

.clock span {
    display: flex;
    width: 100px;
    height: 80px;
    background-color: red;
    color: white;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
